<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h1>Compare It Application!!</h1>
	</div>

	<div>
		<form action="/compare" method="post">
			<table>
				<thead>
					<tr>
						<th>File One</th>
						<th>File Two</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><textarea style="resize:none;" rows="30" cols="50" name="fileOne"></textarea></td>
						<td><textarea style="resize:none;" rows="30" cols="50" name="fileTwo"></textarea></td>
					</tr>
					<tr>
						<td><input type="submit" value="Compare"  /> <input type="reset" value="Clear" /> </td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</form>

	</div>



</body>
</html>