<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Compare It</title>

<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<h1 class="text-light">Compare It</h1>
	</nav>
	<div class="container">
		<!-- <p th:text="${startPointer}"></p> -->
		<div th:if="${data1 != null}" style="padding: 5px;"class="row mt-2 mb-2 text-light bg-dark">
			<div th:if="${data1 != null}" class="col-sm">
				<p th:utext="${data1}"></p>
			</div>
			<div class="col-sm">
				<p th:utext="${data2}"></p>
			</div>
		</div>
		<div class="bg-dark mt-2">

			<form action="/compare" method="post" th:object="${data}">
				<div>
					<div class="text-light"
						style="padding: 5px; display: flex; justify-content: space-evenly;">
						<h4>TEXT 1</h4>


						<h4>TEXT 2</h4>
					</div>
				</div>
				<div
					style="padding: 5px; display: flex; justify-content: space-between;">
					<textarea th:field="*{originalString}" name="originalString"
						style="resize: none;" rows="20" cols="70" required></textarea>

					<textarea th:field="*{duplicateString}" name="duplicateString"
						style="resize: none;" rows="20" cols="70" required></textarea>

				</div>
				<div style="display: flex; justify-content: center;">

					<div>
						<input class="btn btn-warning m-3" type="submit" value="Compare" />
						<input class="btn btn-danger m-3" type="reset" value="Clear" />
					</div>

				</div>
				
				</form>
		</div>

		

	</div>
</body>
</html>