<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container">
	<div>
		<h1>Compare It Application!!</h1>
	</div>
	<p th:text="${startPointer}"></p>
	<div>
		<div class="results">
			<div th:if= "${data1 != null}" >
				<p  th:text="${data1}" ></p>
			</div>
			<div>
				<p th:utext="${data2}" ></p>
			</div> 
		</div>
		<form action="/compare" method="post" th:object="${data}">
			<div>
				<div style="display: flex; justify-content: space-between;">
					<div>Original Text</div>

					<div>Duplicate</div>

				</div>
				<div style="display: flex; justify-content: space-between;">
					<div>
						<textarea th:field="*{originalString}" name="originalString" style="resize: none;"
							rows="20" cols="70" required></textarea>
					</div>
					<div>
						<textarea th:field="*{duplicateString}" name="duplicateString" style="resize: none;"
							rows="20" cols="70" required></textarea>
					</div>
				</div>
				<div style="display: flex; justify-content: center;">

					<div>
						<input class="btn btn-warning m-3" type="submit" value="Compare" />
						<input class="btn btn-danger m-3" type="reset" value="Clear" />
					</div>

				</div>
			</div>

		</form>

	</div>



</body>
</html>